{%- macro track(label, category="navigation", action="click", value=1) -%}
  {%- if site.analyticsId -%}
    onclick="ga('send', 'event', '{{ category }}', '{{ action }}', '{{ label }}', {{ value }});"
  {%- endif -%}
{%- endmacro -%}