---
title: Node.js Design Patterns Third Edition by Mario Casciaro and Luciano Mammino
description: A book to learn how to design and implement production-grade Node.js applications using proven patterns and techniques
site_url: https://nodejsdesignpatterns.com
og_title: ~
og_description: ~
og_image: ~
og_image_width: ~
og_image_height: ~
og_type: ~
og_locale: en_US
og_site_name: Node.js Design Patterns
---

<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ og_title | default(title, true) }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:og:description" content="{{ og_description | default(description, true) }}">
    <meta property="og:url" content="{{ site_url }}{{ page.url }}">
    {% if og_image %}<meta property="og:image" content="{{ og_image }}">{% endif %}
    {% if og_image_width %}<meta property="og:image:width" content="{{ og_image_width }}">{% endif %}
    {% if og_image_height %}<meta property="og:image:height" content="{{ og_image_height }}">{% endif %}
    <meta property="og:locale" content="{{ og_locale }}">
    <meta property="og:site_name" content="{{ og_site_name }}" />
    {% if og_type %}
      {% for attr, val in og_type %}
        {% if val | is_array %}
          {% for item in val %}
            <meta property="{{ attr }}" content="{{ item }}">
          {% endfor %}
        {% else %}
          <meta property="{{ attr }}" content="{{ val }}">
        {% endif %}
      {% endfor %}
    {% endif %}
    <meta name=”robots” content="index, follow">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#FFFFFF">
    {% for style in webpack.styles %}
      <link rel="stylesheet" href="{{ style.href }}">
    {% endfor %}
    <script type="application/ld+json">
      {% include "meta-book-jsonld.json" %}
    </script>
  </head>
  <body>
    {{ content | safe }}
    {% for script in webpack.scripts %}
      {{ script.html | safe }}
    {% endfor %}
  </body>
</html>