---
title: Node.js Design Patterns third edition
---

<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#FFFFFF">
    {% for style in webpack.styles %}
      <link rel="stylesheet" href="{{ style.href }}">
    {% endfor %}
  </head>
  <body>
    {{ content | safe }}
    {% for script in webpack.scripts %}
      {{ script.html | safe }}
    {% endfor %}
  </body>
</html>