---
layout: layout.njk
title: Node.js Design Patterns Third Edition by Mario Casciaro and Luciano Mammino
---

<nav>
    <ul>
        <li><a href="#contents">Contents</a></li>
        <li><a href="#sample">Sample</a></li>
        <li><a href="#praises">Praises</a></li>
        <li><a href="#authors">Authors</a></li>
        <li><a href="#buy">Buy</a></li>
    </ul>
</nav>

<main>
  <section class="hero">
    <h1>Take your Node.js knowledge to the next level</h1>
    <h2>Design and implement production-grade Node.js applications using proven patterns and techniques</h2>
    <div>
      <p><a href="#">Buy</a></p>
      <p><a href="#">Download sample chapter</a></p>
    </div>
  </section>

  <section class="credibility">
    <div>
      <p>XYZ Copies sold World wide (or "trusted by XYZ developers worldwide")</p>
    </div>

    <div>
      <p>Translated in 3 languages</p>
    </div>

    <div>
      <p>Rated X.Y on Amazon</p>
    </div>

    <div>
      <p>Perfected through 3 editions</p>
    </div>
  </section>

  <section class="book-abstract">
    <article>
      <h2>Learn proven patterns, techniques, and tricks to take full advantage of the Node.js platform</h2>
      <h3>Master well-known design principles to create modern applications that are readable, extensible, and that can grow big</h3>
      <p>This book will teach you how to implement a series of best practices and design patterns to create efficient and robust Node.js applications.</p>
      <p>The first chapters of the book are designed to explore the basics of Node.js, analyzing its asynchronous event driven architecture and its fundamental design patterns including control flow patterns with callbacks, promises and async/await.</p>
      <p>The second part of the book dives into Node.js streams and explores some of the most famous Gang of Four design patterns reinterpreted in the context of Node.js plus some original patterns that are specific to JavaScript and Node.js.</p>
      <p>In the last section this book covers more advanced topics such as Universal JavaScript with Node.js, React and Webpack, best practices to scale Node.js services, microservices and messaging patterns for enterprise-grade distributed applications.</p>
      <p>Throughout the book you will see Node.js in action with the help of several real-life examples leveraging great technologies such as LevelDB, Redis, RabbitMQ, ZeroMQ and many others. They will be used to demonstrate a pattern or a technique, but they will also give you a great introduction to the Node.js ecosystem and its set of solutions.</p>
    </article>
  </section>

  <section class="book-content">
    <h2>What's in the book</h2>
    <p>Node.js Design Patterns is the book for software engineers who want to master Node.js and run production applications with confidence.</p>
    
    <div>
      <h3>100+ Working Examples &amp; 30+ Exercises</h3>
      <p><strong>Learn by doing!</strong> With more than 100 working examples, you immediately put into practice everything you learn. Every code sample comes with a full step-by-step explanation, so you don't have to spend time to guess how things work. At the end of every chapter you will find engaging coding challenges to test your understanding and gain more confidence on your progress.</p>
    </div>

    <div>
      <h3>13 exquisitely crafted Chapters</h3>
      <p>Every chapter will bring you one step closer to becoming a Node.js expert. From the basics of the Node.js architecture to how to scale and distribute your application, the book covers almost every aspect of professional Node.js development.</p>
    </div>

    <div>
      <h3>+650 Pages</h3>
      <p>A good learning experience can't be achieved by only throwing code and notions at the reader. Node.js Design Patterns comes with in-depth explanations and examples, so that even a novice can follow and immediately take advantage of advanced techniques.</p>
    </div>
  </section>

  <section class="sample-chapter">
    <h2>Sample chapter</h2>
    <h3>Behavioural Design Patterns</h3>
    <p>Learn how to implement and leverage some of the most well known behavioural design patterns in the context of Node.js: the Strategy pattern, the State pattern, the Template pattern, the Iterator pattern, the Middleware pattern, and the Command pattern.</p>
    <p><a href="#">Download the FREE chapter</a></p>
  </section>

  <section class="book-chapters">
    <h2>Contents</h2>
    <p>Every chapter has been carefully crafted to explore and master a particular area of 	Node.js professional development.</p>

    <div>
      <h3>01. The Node.js Platform</h3>
      <p>Learn about the Node.js philosophy, the reactor patterns and the differences between JavaScript on the browser and Node.js on the server.</p>
    </div>

    <div>
      <h3>02. The Module System</h3>
      <p>Learn how to leverage the powerful Node.js module system and discover the main differences between CommonJS and ESM.</p>
    </div>

    <div>
      <h3>03. Callbacks and Events</h3>
      <p>Discover the callback pattern, how it works and the conventions used in Node.js. Learn how to avoid pitfalls and when to take advantage of the observer pattern using Node.js built-in event emitter.</p>
    </div>

    <div>
      <h3>04. Asynchronous Control Flow Patterns with Callbacks</h3>
      <p>Lean how to avoid callback hell and explore common asynchronous patterns such as sequential execution, sequential iteration, parallel execution and limited parallel execution.</p>
    </div>

    <div>
      <h3>05. Asynchronous Control Flow Patterns with Promises and Async/Await</h3>
      <p>Find out how promises work and how to use them effectively to implement various asynchronous control flow patterns. Explore the modern async/await syntax, the main tool today for dealing with asynchronous code in Node.js</p>
    </div>

    <div>
      <h3>06. Coding with Streams</h3>
      <p>Understand why streams are so important in Node.js. Learn how to use standard streams and how to create custom ones. Explore various streaming patterns and learn how to build powerful streaming pipelines.</p>
    </div>

    <div>
      <h3>07. Creational Design Patterns</h3>
      <p>Learn about the most famous creational design patterns in Node.js: the Factory pattern, the Revealing Constructor pattern, the Builder pattern. Finally, explore the Singleton pattern and the Dependency Injection pattern.</p>
    </div>

    <div>
      <h3>08. Structural Design Patterns</h3>
      <p>Discover how to implement and use the Proxy, the Decorator and the Adapter pattern in Node.js.</p>
    </div>

    <div>
      <h3>09. Behavioural Design Patterns</h3>
      <p>Learn how to implement and leverage some of the most well known behavioural design patterns in the context of Node.js: the Strategy pattern, the State pattern, the Template pattern, the Iterator pattern, the Middleware pattern, and the Command pattern.</p>
    </div>

    <div>
      <h3>10. Universal JavaScript</h3>
      <p>Explore the fundamentals of JavaScript cross-platform developments and how to share code between the browser and Node.js. Learn React.js and how to build a complete universal JavaScript application.</p>
    </div>

    <div>
      <h3>11. Advanced Recipes</h3>
      <p>Learn advanced recipes such as dealing with asynchronously initialized components, performing asynchronous request batching and caching, canceling asynchronous operations and running CPU-bound tasks.</p>
    </div>

    <div>
      <h3>12. Scalability and Architectural Patterns</h3>
      <p>Master the art of Node.js scalability by learning about the "Scale Cube", discover how to run multiple instances of the same application and how to use load balancers and service registers. Learn how to use containers and containers orchestration platforms such as Kubernetes. Finally, find out how to design and build microservices architectures.</p>
    </div>

    <div>
      <h3>13. Messaging and Integration Patterns</h3>
      <p>Discover the fundamentals of messaging systems and learn the Publish/Subscribe pattern. Master distribution patterns, messaging pipelines and the most common Request/Reply patterns.</p>
    </div>

  </section>

  <section class="authors">
    <h2>Meet the authors</h2>
    <p>Meet Mario and Luciano, two passionate software engineers with a shared passion for Node.js and more than 15 years of collective experience on the field!</a>
    
    <div>
      <h3>Mario Casciaro</h3>
      <p>Mario is a software engineer and entrepreneur who worked at IBM for a number of years. He currently splits his time between Var7 Technologies (his own software company) and its role as Lead Engineer at D4H Technologies where he creates software for emergency response teams.</p>
      <ul>
        <li><a href="https://mario.fyi/">website</a></li>
        <li><a href="https://twitter.com/mariocasciaro">twitter</a></li>
        <li><a href="https://github.com/mariocasciaro">github</a></li>
        <li><a href="https://www.linkedin.com/in/mariocasciaro/">linkedin</a></li>
      </ul>
    </div>
    
    <div>
      <h3>Luciano Mammino</h3>
      <p>Luciano wrote his first line of code at the age of 12 on his father's old i386. Since then, he has never stopped coding. He is currently working at FabFitFun as Principal Software Engineer where he is building microservices to serve millions of users every day. Luciano is an active speaker and in the last few years he has delivered more than 50 talks in conferences and meetups around the world.</p>
    </div>
    <ul>
      <li><a href="https://loige.co/">website</a></li>
      <li><a href="https://twitter.com/loige">twitter</a></li>
      <li><a href="https://github.com/lmammino">github</a></li>
      <li><a href="https://www.linkedin.com/in/lucianomammino/">linkedin</a></li>
    </ul>
  </section>

  <section class="buy">
    <h2>Buy Node.js Design Patterns third edition</h2>
    <p>Node.js Design Patterns third edition is available in Print and e-book (epub and Kindle) and can be purchased on Amazon and on Packt.</p>

    <a href="https://nodejsdp.link/buy">Buy on Amazon</a>
    <a href="https://www.packtpub.com/eu/programming/node-js-design-patterns-third-edition">Buy on Packt.com</a>
  </section>

  <section class="faq">
    <h2>FAQ</h2>

    <div>
      <h3>Who is this book for?</h3>
      <p>TODO summarize below statement
This book is for developers and software architects who have some prior basic knowledge of JavaScript and Node.js and now want to get the most out of these technologies in terms of productivity, design quality, and scalability. Software professionals with intermediate experience in Node.js and JavaScript will also find valuable the more advanced patterns and techniques presented in this book.
This book assumes that you have an intermediate understanding of web application development, databases, and software design principles.</p>
    <div>

    <div>
      <h3>I am new to JavaScript and Node.js, is this book for me?</h3>
      <p>TODO:</p>
    <div>

    <div>
      <h3>What are the main concepts I will learn in this book?</h3>
      <p>TODO: summarise the points below
Become comfortable with writing asynchronous code by leveraging callbacks, promises, and the async/await syntax
Leverage Node.js streams to create data-driven asynchronous processing pipelines
Implement well-known software design patterns to create production grade applications
Share code between Node.js and the browser and take advantage of full-stack JavaScript
Build and scale microservices and distributed systems powered by Node.js
Use Node.js in conjunction with other powerful technologies such as Redis, RabbitMQ, ZeroMQ, and LevelDB</p>
    <div>

    <div>
      <h3></h3>
      <p></p>
    <div>

    <div>
      <h3>How long is the book?</h3>
      <p>The book has 13 chapters totaling about 600+ pages.</p>
    <div>

    <div>
      <h3>Do I have to read all 600 pages to make sense of the book?</h3>
      <p>TODO:</p>
    <div>

    <div>
      <h3>How up to date is this book?</h3>
      <p>The third edition of this book has been updated to cover the most modern Node.js LTS version (Node.js 14) and best practices such as Async/Await and EcmaScript Modules (ESM).</p>
    <div>

    <div>
      <h3>Are the code examples available online?</h3>
      <p>TODO:</p>
    <div>

    <div>
      <h3>What are some examples of real-life applications that are presented in the book?</h3>
      <p>TODO:</p>
    <div>

    <div>
      <h3>How can I practice the learnings from the book?</h3>
      <p>TODO:</p>
    <div>

    <div>
      <h3>What if I get stuck with any of the exercises?</h3>
      <p>TODO:</p>
    <div>
  <section>

</main>
<footer>
  <p>Copyright © 2020 Mario Casciaro, Luciano Mammino, Packt Publishing.</p>
  <p>All trademarks and registered trademarks are the property of their respective owners.</p>
  <p>Found an error in this website? Help us improve it on <a href="https://github.com/nodejs-design-patterns-book/nodejsdesignpatterns.com">GitHub</a>.</p>
</footer>