---
layout: layout.njk
permalink: /index.html
priority: 1
bookJsonLd: true
og_type:
  "og:type": "books.book"
  "books:isbn": "9781839214110"
  "books:rating:value": "5"
  "books:rating:scale": "5"
  "books:author":
    - "https://www.amazon.com/Mario-Casciaro/e/B00SLY3S1K"
    - "https://www.amazon.com/Luciano-Mammino/e/B01GW5CID8/"
---
{% from "analytics.njk" import track with context %}
<main>
  <section id="hero" class="hero bg-green bd-rd">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered is-gapless">
          <div class="column pr-4">
            <h1 class="title is-1">
              Node.js Design Patterns: the ultimate guide to becoming a Node.js expert</h1>
            <h2 class="subtitle is-4 mt-1">The <strong>top-tier book</strong> for Node.js that will guide you from A to Z through the design and implementation of production-grade <strong>Node.js applications</strong> with <strong>tested patterns</strong> and <strong>techniques</strong>.</h2>
            <div class="buttons">
              <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
              <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
            </div>
          </div>
          <div class="column pos-rel">
            {% responsiveImage './img/book-stack.png', 'Node.js Design Patterns book cover', { class: 'book-cover', maxWidth: 580 }  %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-green">
    <section id="key-characteristics" class="section bd-lt bd-rd bg-white is-medium">
      <div class="container" style="max-width: 800px;">
        <h2 class="title is-2 has-text-centered mb-6">
            The most practical and comprehensive Node.js book on the market
          </h2>
      </div>

      <div class="columns is-6">
        <div class="column is-one-third">
          <h4 class="subtitle is-4 is-green">150 Working examples &amp; 50 exercises</h4>
          <p>Put into practice everything you learn. Step-by-step explanation of code samples and engaging coding challenges at the end of every chapter. </p>
        </div>

        <div class="column is-one-third">
          <h4 class="subtitle is-4 is-green">13 Exquisitely crafted chapters</h4>
          <p>From the basics of the Node.js architecture to how to scale and distribute your application.</p>
        </div>

        <div class="column is-one-third">
          <h4 class="subtitle is-4 is-green">660 Pages packed with knowledge</h4>
          <p>In-depth explanations and examples, so that even if you are a novice you can follow and immediately apply advanced techniques.</p>
        </div>
      </div>
    </section>
  </div>

  <section id="the-problem" class="section bg-green bd-lt-rd is-medium">
    <div class="container">
      <article>
        <div class="columns is-centered">
          <div class="column is-half"></div>
          <div class="column is-half">
            <h2 class="title is-2">Looking for a reliable source to learn how to create extensible modern web applications?</h2>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half">
            {% responsiveImage './img/book-unboxed.png', 'Node.js Design Patterns book cover'  %}
          </div>
          <div class="column is-half">
            <p>If you are here, you have probably wandered a lot around the internet to find a <strong>valuable source</strong> to deepen your Node.js knowledge.</p>

            <p>Maybe you have already used Node.js but you feel like you have <strong>not yet fully understood</strong> its key concepts.</p>

            <p>You have read articles, and watched videos and webinars, but none of them have offered you a Node.js learning experience that seems <strong>complete</strong>.</p>

            <p>What if we tell you that after a long search, you have finally landed on the <strong>right page</strong>?</p>

            <p>You don&apos;t need to search for different sources and then put them together to obtain a detailed guide.</p>

            <p>You need a <strong>comprehensive manual</strong> with TESTED content that <strong>guides you from A to Z</strong> in becoming a Node.js expert using both theoretical knowledge and practical exercises.</p>

            <div class="buttons">
              <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
              <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>

  <div id="alternative-solution" class="bg-green">
    <section class="section bd-lt bg-white is-medium">
      <div class="container">

        <div class="container" style="max-width: 800px;">
          <h2 class="title is-2 underline has-text-centered">
            <span>A Complete book that makes you confident with implementing scalable Node.js applications</span>
          </h2>
        </div>

        <div class="columns is-centered">
          <div class="column is-half">
            <p>Are you keen to <strong>understand</strong> how Node.js works <strong>under the hood</strong>?</p>
            <p>A guide that teaches you all the <strong>best practices</strong> that you need to know to grow your career.</p>
            <p>You will finally understand how JavaScript and Node.js work and how to build <strong>performant</strong> and <strong>scalabale web applications</strong>.</p>
            <p>You will find <strong>clear writing</strong>, <strong>diagrams</strong>, and <strong>real-world code examples</strong>, taking a deep dive into projects using technologies like <strong>Redis</strong> or <strong>Fastify</strong>.</p>
            <p>All this will be possible thanks to <em>Node.js Design Patterns</em>: the first book that covers <strong>all the Node.js topics that you need to become a professional</strong>.</p>
            <p>From theory to practice, from real-world exercises to useful best practices. </p>
            <p>Start your journey to become a Node.js pro now!</p>
            <div class="buttons">
              <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
              <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
            </div>
          </div>
          <div class="column is-half">
            {% responsiveImage './img/man-with-node-js-design-patterns.png', 'Node.js Design Patterns book cover'  %}
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="bg-green">
    <section id="complete-description" class="section bg-white is-medium">
      <div class="container is-max-desktop">
        <div id="complete-description-features" class="container bg-green bd-all-small" style="max-width: 800px;">
          <h2 class="title underline-bright is-2 has-text-centered mb-6">
            <span>More than just Design Patterns: a book with Everything you need to know about Node.js</span>
          </h2>
          <h3 class="subtitle is-4 has-text-centered">13 chapters carefully crafted to explore and <strong>master various aspects of Node.js</strong> professional development</h3>
          <div style="max-width: 600px; margin: 0 auto;">
            <div class="content">
              <ul>
                <li>Explore the <strong>basics of Node.js</strong>, analyzing its asynchronous event-driven architectures and design patterns (including event emitters, callbacks, promises and async/await);</li>
                <li>Dive into <strong>Node.js streams</strong> and some of the <strong>most famous Gang of Four design patterns</strong> reinterpreted in the context of Node.js plus some <strong>novel patterns</strong> that are unique to JavaScript and Node.js;</li>
                <li>Explore <strong>advanced topics</strong> such as <strong>Universal JavaScript with Node.js</strong>, <strong>React</strong> and <strong>Webpack</strong>;</li>
                <li>Discover <strong>best practices to scale Node.js services</strong>, microservices and messaging patterns for enterprise-grade distributed applications;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="chapters-container">
        <h2 class="title is-2 underline has-text-centered mt-6">
          <span>What you will find in the book:</span>
        </h2>

        <div id="chapters" class="columns is-centered">
          <div class="column is-6">

            <ol>
              <li>
                <h3 class="title is-4">The Node.js Platform</h3>
                <p>Learn about the Node.js philosophy, the reactor patterns and the differences between JavaScript on the browser and Node.js on the server.</p>
              </li>

              <li>
                <h3 class="title is-4">The Module System</h3>
                <p>Learn how to leverage the powerful Node.js module system and discover the main differences between CommonJS and ESM.</p>
              </li>

              <li>
                <h3 class="title is-4">Callbacks and Events</h3>
                <p>Discover the callback pattern, how it works and the conventions used in Node.js. Learn how to avoid pitfalls and when to take advantage of the observer pattern using Node.js built-in event emitter.</p>
              </li>

              <li>
                <h3 class="title is-4">Asynchronous Control Flow Patterns with Callbacks</h3>
                <p>Lean how to avoid callback hell and explore common asynchronous patterns such as sequential execution, sequential iteration, parallel execution and limited parallel execution.</p>
              </li>

              <li>
                <h3 class="title is-4">Asynchronous Control Flow Patterns with Promises and Async/Await</h3>
                <p>Find out how promises work and how to use them effectively to implement various asynchronous control flow patterns. Explore the modern async/await syntax, the main tool today for dealing with asynchronous code in Node.js</p>
              </li>

              <li>
                <h3 class="title is-4">Coding with Streams</h3>
                <p>Understand why streams are so important in Node.js. Learn how to use standard streams and how to create custom ones. Explore various streaming patterns and learn how to build powerful streaming pipelines.</p>
              </li>

              <li>
                <h3 class="title is-4">Creational Design Patterns</h3>
                <p>Learn about the most famous creational design patterns in Node.js: the Factory pattern, the Revealing Constructor pattern, the Builder pattern. Finally, explore the Singleton pattern and the Dependency Injection pattern.</p>
              </li>

              <li>
                <h3 class="title is-4">Structural Design Patterns</h3>
                <p>Discover how to implement and use the Proxy, the Decorator and the Adapter pattern in Node.js.</p>
              </li>

              <li>
                <h3 class="title is-4">Behavioural Design Patterns</h3>
                <p>Learn how to implement and leverage some of the most well known behavioural design patterns in the context of Node.js: the Strategy pattern, the State pattern, the Template pattern, the Iterator pattern, the Middleware pattern, and the Command pattern.</p>
                <p>
                  <a href="#sample-chapter">
                    <span class="tag is-primary">Free Chapter!</span></a>
                </p>
              </li>

              <li>
                <h3 class="title is-4">Universal JavaScript</h3>
                <p>Explore the fundamentals of JavaScript cross-platform development and learn how to share code between the browser and Node.js. Learn how to leverage React.js to build a complete universal JavaScript application.</p>
              </li>

              <li>
                <h3 class="title is-4">Advanced Recipes</h3>
                <p>Discover well-known recipes to deal with some more advanced Node.js intricacies such as dealing with asynchronously initialized components, performing asynchronous request batching and caching, canceling asynchronous operations and running CPU-bound tasks.</p>
              </li>

              <li>
                <h3 class="title is-4">Scalability and Architectural Patterns</h3>
                <p>Master the art of Node.js scalability by learning about the "Scale Cube", discover how to run multiple instances of the same application and how to use load balancers and service registers. Learn how to use containers and containers orchestration platforms such as Kubernetes. Finally, find out how to design and build microservices architectures.</p>
              </li>

              <li>
                <h3 class="title is-4">Messaging and Integration Patterns</h3>
                <p>Learn how to integrate complex distributed Node.js applications using the most popular messaging systems. Learn how to implement the most common messaging patterns on top of ZeroMQ, RabbitMQ and Redis Streams.</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="mt-6">
        <div class="buttons is-justify-content-center">
          <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
          <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
        </div>
      </div>

    </section>
  </div>

  <div id="benefits" class="bg-green">
    <section class="section bg-white bd-rd is-medium">
      <div class="container">

        <div class="container" style="max-width: 800px;">
          <h2 class="title is-2 underline has-text-centered mb-6">
            <span>What are the Benefits of choosing <em>Node.js Design Patterns</em>?</span>
          </h2>
        </div>
        <div class="columns is-6">
          <div class="column is-one-third">
            <h4 class="subtitle is-4 is-green">Get a 360° knowledge of the Node.js ecosystem</h4>
            <p>660 pages packed with deep knowledge of Node.js from a theoretical and practical point of view, to become a Node.js pro and apply what you discover to real-world projects.</p>
          </div>

          <div class="column is-one-third">
            <h4 class="subtitle is-4 is-green">Thoroughly test your understanding</h4>
            <p>You will find practical exercises at the end of each chapter to test what you have previously learnt with the theory.</p>
          </div>

          <div class="column is-one-third">
            <h4 class="subtitle is-4 is-green">Join a thriving Node.js dev community</h4>
            <p>Gain access to an active community on GitHub, where other developers who are reading the book share ideas, comments, and correct exercises together.</p>
          </div>
        </div>
      </div>

      <div class="mt-6">
        <div class="buttons is-justify-content-center">
          <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
          <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
        </div>
      </div>

    </section>
  </div>

  <div id="authors" class="bg-green bd-lt-rd">
    <section class="section is-medium">
      <div class="container">
        <h2 class="title is-2 underline-bright has-text-centered">
          <span>Meet the authors</span>
        </h2>

        <div class="columns is-centered">
          <div class="column is-10">
            <h3 class="is-4 subtitle has-text-centered">Meet Mario and Luciano, two passionate software engineers with a shared love for Node.js and more than 30 years of collective experience on the field!</h3>
          </div>
        </div>

        <div class="columns">
          <div class="column is-half">
            <div class="columns">
              <div class="column is-one-third"></div>
              <div class="column is-two-third">
                <h3 class="title is-3">Mario Casciaro</h3>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">
                {% responsiveImage './img/mario-casciaro.jpg', "Mario Casciaro's picture", {class: 'avatar', maxWidth: 300}  %}
              </div>
              <div class="column is-two-third">
                <p>Mario is currently the CTO of D4H Technologies, where he creates software for emergency management. In the past, Mario has worked at IBM as a team lead and also founded a couple of software companies.</p>
                <ul>
                  <li>
                    <a title="Visit Mario's blog" target="_blank" rel="me noopener" href="https://mario.fyi/">Blog</a>
                  </li>
                  <li>
                    <a title="Visit Mario's X profile" target="_blank" rel="me noopener noreferrer" href="https://twitter.com/mariocasciaro">X</a>
                  </li>
                  <li>
                    <a title="Visit Mario's GitHub profile" target="_blank" rel="me noopener noreferrer" href="https://github.com/mariocasciaro">GitHub</a>
                  </li>
                  <li>
                    <a title="Visit Mario's LinkedIn profile" target="_blank" rel="me noopener noreferrer" href="https://www.linkedin.com/in/mariocasciaro/">LinkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="columns">
              <div class="column is-one-third"></div>
              <div class="column is-two-third">
                <h3 class="title is-3">Luciano Mammino</h3>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">
                {% responsiveImage './img/luciano-mammino.jpg', "Luciano Mammino's picture", {class: 'avatar', maxWidth: 300}  %}
              </div>
              <div class="column is-two-third">
                <p>Luciano is a Senior Architect at fourTheorem where he is helping companies to get the best out of the Cloud and AWS. He is an active speaker and in the last few years he has delivered more than 130 talks in conferences and meetups around the World.</p>
                <ul>
                  <li>
                    <a title="Visit Luciano's blog" target="_blank" rel="me noopener" href="https://loige.co/">Blog</a>
                  </li>
                  <li>
                    <a title="Visit Luciano's X profile" target="_blank" rel="me noopener noreferrer" href="https://twitter.com/loige">X</a>
                  </li>
                  <li>
                    <a title="Visit Luciano's GitHub profile" target="_blank" rel="me noopener noreferrer" href="https://github.com/lmammino">GitHub</a>
                  </li>
                  <li>
                    <a title="Visit Luciano's LinkedIn profile" target="_blank" rel="me noopener noreferrer" href="https://www.linkedin.com/in/lucianomammino/">LinkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="reviews" class="bg-green">
    <section class="section bg-white bd-lt is-medium">
      <div class="container">
        <h2 class="title is-2 underline has-text-centered">
          <span>What the experts say</span>
        </h2>
        <div class="columns is-multiline">
          {% for quote in quotes -%}
            {% set alt %}{{ quote.name }}'s profile picture{% endset %}
            <div class="column is-half">
              <div class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    {% responsiveImage quote.picture, alt, { class: 'is-rounded avatar', maxWidth: 64 } %}
                  </p>
                </figure>
                <div class="media-content">
                  <p>
                    <strong>{{ quote.name }}</strong>
                    <small>— {{ quote.role }}</small>
                  </p>
                  <p class="quote">{{ quote.text }}</p>
                </div>
              </div>
            </div>
          {% endfor -%}
        </div>
        <div class="mt-6">
          <div class="buttons is-justify-content-center">
            <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
            <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="bg-green">
    <section id="who-is-it-for" class="section bg-white bd-rd is-medium">
      <div class="container is-max-desktop">
        <div id="who-is-it-for-main" class="container bg-green bd-all-small" style="max-width: 800px;">
          <h2 class="title underline-bright is-2 has-text-centered mb-6">
            <span>Who is <em>Node.js Design Patterns</em> for?</span>
          </h2>
          <div style="max-width: 600px; margin: 0 auto;">
            <div class="content">
              <ul>
                <li>For those who already know the <strong>basics of</strong> the <strong>JavaScript language</strong> and want to <strong>become a Node.js professional</strong>
                </li>
                <li>For those who want to understand <strong>how the event loop works</strong> and learn to use Node.js to its full potential <strong>without errors</strong> and in the most <strong>efficient way</strong>
                </li>
                <li>For those who want to learn how to <strong>adapt</strong> classic design patterns to Node.js and discover <strong>Node.js specific design patterns</strong>
                </li>
                <li>For those who want to learn how to use <strong>production ready tools</strong> such as <strong>LevelDB</strong>, <strong>Redis</strong>, <strong>RabbitMQ</strong>, <strong>ZeroMQ</strong> in the Node.js context to develop real applications that can <strong>scale to millions of users</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="who-is-it-for-why">
        <h2 class="title is-2 underline has-text-centered mt-6">
          <span>Why shouldn&apos;t you Miss this book?</span>
        </h2>

        <div class="container is-max-desktop">
          <div class="columns is-centered">
            <div class="column is-6">
              <div class="container">
                <p>
                  <strong>Much more than just a textbook!</strong>
                </p>

                <p>
                  <em>Node.js Design Patterns</em> is a <strong>specific manual</strong> covering Node.js topics from A to Z.
          </p>
                <p>You will have the opportunity of <strong>applying what you are learning</strong> with lots of exercises.</p>
                <p>It is much more practical than a regular manual, just to make sure you <strong>understand actual market needs</strong>.</p>
                <p>You will also have the possibility of <strong>connecting with</strong> an entire <strong>developers community on GitHub</strong> and the authors.</p>
              </div>
            </div>
            <div class="column is-6">
              <div>
                {% responsiveImage './img/node-js-design-patterns-open-book-with-reactor-patterns-diagrams.png', 'Node.js Design Patterns. open book showing some of the diagrams about the reactor pattern'  %}
              </div>
            </div>
          </div>
        </div>

        <h2 class="subtitle is-4 has-text-centered mt-6">
          <span>Are you ready to take your Node.js knowledge to the <strong>next level</strong>?</span>
        </h2>
      </div>

      <div class="mt-6">
        <div class="buttons is-justify-content-center">
          <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
          <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
        </div>
      </div>

    </div>
  </section>
</div>

<div id="final-cta" class="bg-green bd-lt-rd">
  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          {% responsiveImage './img/node-js-design-patterns-print-ebook-kindle.png', "Mario Casciaro's picture", {maxWidth: 600}  %}
        </div>
        <div class="column is-half is-flex">
          <div class="is-flex is-justify-content-center is-flex-direction-column">
            <h2 class="title is-2 underline-bright has-text-centered">
              <span>Developers&apos; Favorite book to learn Node.js like a Pro</span>
            </h2>

            <div class="columns is-centered">
              <div class="column is-10">
                <h3 class="is-4 subtitle has-text-centered">
                  <em>Node.js Design Patterns</em> is the <strong>first book on the market</strong> that can help you <strong>become a Node.js professional</strong> not just with theory, but also with practical exercises, best practices and design patterns. </h3>
              </div>
            </div>

            <div class="buttons is-justify-content-center">
              <a class="button is-primary" href="https://nodejsdp.link/buy" {{ track("click_buy_print") }}>Buy Print edition</a>
              <a class="button" href="https://nodejsdp.link/buy-kindle" {{ track("click_buy_kindle") }}>Buy Kindle edition</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="amazon-reviews" class="bg-green">
  <section class="section bg-white bd-lt is-medium">
    <div class="container">
      <h2 class="subtitle is-2 underline has-text-centered mb-6">
        <span>Rated <strong>4.7</strong> with <strong>250+ reviews</strong> on Amazon </span>
      </h2>

      <div class="columns">
        <div class="column is-two-thirds">
          {% for review in reviews -%}
            <div class="pb-6">
              <p class="mb-2">
                <strong>{{ review.title }}</strong>
              </p>
              <div class="is-flex mb-4">
                {% for i in range(0, review.rating) %}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" style="color: rgb(250 204 21); flex-shrink: 0; width: 1.25rem; height: 1.25rem;display: block; vertical-align: middle;">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                  </svg>
                {% endfor %}
              </div>
              <p class="mb-2">{{ review.text }}</p>
              <p>
                <small>— <a href="{{review.link}}">{{ review.name }}</a>
                </small>
              </p>
            </div>
          {% endfor -%}
        </div>

        <div class="column is-one-third">
          {% responsiveImage './img/amazon-reviews-rating-screenshot.png', 'Node.js Design Patterns reviews from Amazon.com', { maxWidth: 800 }  %}
          <p class="has-text-centered">
            <a href="https://www.amazon.com/Node-js-Design-Patterns-production-grade-applications/product-reviews/1839214112/" target="_blank">Read all the reviews</a>
          </div>
        </div>

      </div>
    </section>
  </div>

  <div id="faq" class="bg-green">
    <section class="section bg-white is-medium">
      <div class="container is-max-desktop">
        <h2 class="title is-2 underline has-text-centered">
          <span>FAQs</span>
        </h2>

        <dl class="faq">
          {% for faq in faqs %}
            <dt id="{{ faq.id }}">
              <button aria-expanded="true" aria-controls="{{ faq.id }}-answer" data-faq-id="{{ faq.id }}">
                <h3 class="subtitle is-4">
                  {{ faq.question }}</h3>
              </button>
            </dt>
            <dd>
              <div id="{{ faq.id }}-answer" class="desc">
                <p class="is-size-7 has-text-right mb-1">
                  <a title="Permalink to this FAQ" href="#{{ faq.id }}">{{ '&para;' | safe }}</a>
                </p>
                {{ faq.answer | markdown | safe }}
              </div>
            </dd>
          {% endfor %}
        </dl>

      </div>
    </section>
  </div>

  <section id="sample-chapter" class="section is-medium">
    <div class="container bg-green px-6 py-6 bd-all-small">
      <div class="columns is-gapless">
        <div class="column is-half">
          <h2 class="title is-2">Still in doubt?</h2>

          <p>We know there&apos;s tons of material about Node.js on the internet. And some of the available content is actually good.</p>
          <p>We just want to make sure you know that <em>Node.js Design Patterns</em> is the <strong>most complete book</strong> about Node.js available right now to help you become a professional.</p>
          <p>Maybe you are not sure if the <strong>content</strong> will be <strong>clear</strong> and useful enough for your needs?</p>
          <p>This is why we want to give you a gift… A <strong>free chapter</strong> from “Node.js Design patterns” to help you make an even more informed purchase decision.</p>
          <p>
            <strong>54 pages</strong> to learn how to <strong>implement</strong> and <strong>leverage</strong> some of the most well known <strong>behavioural design patterns</strong> in the context of Node.js: <em>Strategy</em>, <em>State</em>, <em>Template</em>, <em>Iterator</em>, <em>Middleware</em>, and <em>Command</em> Pattern.
        </p>
          <div class="mt-4">
            {% include "convert-kit-form.njk" %}
          </div>
        </div>
        <div class="column is-half">
          {% responsiveImage './img/node-js-design-patterns-open-chapter9.png', 'Node.js Design Patterns chapter 9 behavioral design patterns', { class: "chapter9" }  %}
        </div>
      </div>
    </div>
  </section>
</main>