---
layout: layout.njk
title: Node.js Design Patterns Third Edition by Mario Casciaro and Luciano Mammino
---

<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a href="#reviews" class="navbar-item">Reviews</a>
        <a href="#book-content" class="navbar-item">Content</a>
        <a href="#sample-chapter" class="navbar-item">Sample chapter</a>
        <a href="#authors" class="navbar-item">Authors</a>
        <a href="#faq" class="navbar-item">FAQs</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="#buy" class="button is-primary">
              <strong>Buy the book</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<main>
  <section id="hero" class="hero bg-green bd-rd">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered is-gapless">
          <div class="column">
            <h1 class="title is-1">Take your Node.js knowledge to the next level</h1>
            <h2 class="subtitle is-4 mt-1">Design and implement production-grade Node.js applications using proven patterns and techniques</h2>
            <div class="buttons">
              <a class="button is-primary" href="#buy">Buy</a>
              <a class="button" href="#sample-chapter">Download sample chapter</a>
            </div>
          </div>
          <div class="column pos-rel">
            <div class="floating-label">
              <a href="#buy">
                <span class="tag is-primary">
                  <strong>New Edition!</strong></span></a>
            </div>
            {% responsiveImage './img/book-stack.png', 'Node.js Design Patterns book cover', { class: 'book-cover', maxWidth: 580 }  %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-green">
    <section id="credibility" class="section bd-lt bg-white">
      <div class="container">
        <div class="columns">

          <div class="column is-3">
            <p class="svg-icon has-text-centered">{% include "svg/books.svg" %}</p>
            <p class="has-text-centered">
              <strong>+60,000</strong> Copies sold World wide</p>
          </div>

          <div class="column is-3">
            <p class="svg-icon has-text-centered">{% include "svg/english-to-chinese.svg" %}</p>
            <p class="has-text-centered">Translated in <strong>8 languages</strong>
            </p>
          </div>

          <div class="column is-3">
            <p class="svg-icon has-text-centered">{% include "svg/star.svg" %}</p>
            <p class="has-text-centered">Rated <strong>4.7</strong> on Amazon</p>
          </div>

          <div class="column is-3">
            <p class="svg-icon has-text-centered">{% include "svg/brush-alt.svg" %}</p>
            <p class="has-text-centered">Perfected through <strong>3 editions</strong>
            </p>
          </div>

        </div>
      </div>
    </section>
  </div>

  <div class="bg-green">
    <section id="reviews" class="section bg-white bd-rd">
      <div class="container">
        <h2 class="title is-2 underline has-text-centered">
          <span>What people say</span></h2>
        <div class="columns is-multiline">
          {% for quote in quotes -%}
            {% set alt %}{{ quote.name }}'s profile picture{% endset %}
            <div class="column is-half">
              <div class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    {% responsiveImage quote.picture, alt, { class: 'is-rounded avatar', maxWidth: 64 } %}
                  </p>
                </figure>
                <div class="media-content">
                  <p>
                    <strong>{{ quote.name }}</strong>
                    <small>{{ quote.role }}</small>
                  </p>
                  <p class="quote">{{ quote.text }}</p>
                </div>
              </div>
            </div>
          {% endfor -%}
        </div>
      </div>
    </section>
  </div>

  <section id="book-abstract" class="section bg-green bd-lt-rd">
    <div class="container">
      <article>
        <div class="columns is-centered">
          <div class="column is-half"></div>
          <div class="column is-half">
            <h2 class="title is-2">Learn proven patterns, techniques, and tricks to take full advantage of the Node.js platform</h2>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half">
            {% responsiveImage './img/book-unboxed.png', 'Node.js Design Patterns book cover'  %}
          </div>
          <div class="column is-half">
            <h3 class="subtitle is-4">Master well-known design principles to create modern applications that are readable, extensible, and that can grow big</h3>
            <p>This book will teach you how to implement a series of best practices and design patterns to create efficient and robust Node.js applications.</p>
            <p>The first chapters of the book are designed to explore the basics of Node.js, analyzing its <strong>asynchronous event driven architecture</strong> and its fundamental design patterns including control flow patterns with <strong>callbacks</strong>, <strong>promises</strong> and <strong>async/await</strong>.</p>
            <p>The second part of the book dives into Node.js <strong>streams</strong> and explores some of the most famous Gang of Four <strong>design patterns</strong> reinterpreted in the context of Node.js plus some original patterns that are specific to JavaScript and Node.js.</p>
            <p>In the last section this book covers more advanced topics such as <strong>Universal JavaScript</strong> with Node.js, <strong>React</strong> and <strong>Webpack</strong>, best practices to <strong>scale Node.js</strong> services, <strong>microservices</strong> and <strong>messaging patterns</strong> for enterprise-grade <strong>distributed applications</strong>.</p>
            <p>Throughout the book you will see Node.js in action with the help of several real-life examples leveraging great technologies such as <strong>LevelDB</strong>, <strong>Redis</strong>, <strong>RabbitMQ</strong>, <strong>ZeroMQ</strong> and many others. They will be used to demonstrate a pattern or a technique, but they will also give you a great introduction to the <strong>Node.js ecosystem</strong> and its set of solutions.</p>
            <div class="buttons">
              <a class="button is-primary" href="#buy">Buy the book</a>
              <a class="button" href="#sample-chapter">Download the sample chapter</a>
            </div>
          </div>

        </div>
      </article>
    </div>
  </section>

  <div class="bg-green">
    <section id="book-content" class="section bd-lt bg-white">
      <div class="container">

        <h2 class="title is-2 underline has-text-centered">
          <span>What's in the book</span>
        </h2>

        <div class="columns is-centered is-gapless">
          <div class="column is-10">
            <h3 class="subtitle is-3">Node.js Design Patterns is the book for software engineers who want to <strong>master Node.js</strong> and <strong>run production applications</strong> with confidence.</h3>
          </div>
        </div>

        <div class="columns is-variable is-8">
          <div class="column is-one-third">
            <h4 class="title is-4 is-green">150 Working examples &amp; 50 exercises</h4>
            <p>With hundreds of working examples, you immediately put into practice everything you learn. Every code sample comes with a full step-by-step explanation, so you don't have to spend time to guess how things work. At the end of every chapter you will find engaging coding challenges to test your understanding and gain more confidence on your progress.</p>
          </div>

          <div class="column is-one-third">
            <h4 class="title is-4 is-green">13 Exquisitely crafted chapters</h4>
            <p>Every chapter will bring you one step closer to becoming a Node.js expert. From the basics of the Node.js architecture to how to scale and distribute your application, the book covers almost every aspect of professional Node.js development.</p>
          </div>

          <div class="column is-one-third">
            <h4 class="title is-4 is-green">660 Pages packed with knowledge</h4>
            <p>A good learning experience can't be achieved by only throwing code and notions at the reader. Node.js Design Patterns comes with in-depth explanations and examples, so that even a novice can follow and immediately take advantage of advanced techniques.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section id="sample-chapter" class="section">
    <div class="container bg-green px-6 py-6 bd-all-small">
      <div class="columns is-gapless">
        <div class="column is-half">
          <h2 class="title is-2">Get the free chapter</h2>
          <h3 class="subtitle is-3">Behavioural Design Patterns</h3>
          <p>Learn how to implement and leverage some of the most well known behavioural design patterns in the context of Node.js:
            the <strong>Strategy pattern</strong>, the <strong>State pattern</strong>, the <strong>Template pattern</strong>, the <strong>Iterator pattern</strong>, the <strong>Middleware pattern</strong>, and the <strong>Command pattern</strong>.
          </p>
          <div class="mt-4">
            {% include "convert-kit-form.njk" %}
          </div>
        </div>
        <div class="column is-half">
          {% responsiveImage './img/node-js-design-patterns-open-chapter9.png', 'Node.js Design Patterns chapter 9 behavioral design patterns', { class: "chapter9" }  %}
        </div>
      </div>
    </div>
  </section>

  <section id="book-chapters" class="section bg-white">
    <div class="container">
      <h2 class="title is-2 underline has-text-centered">
        <span>Table of Contents</span>
      </h2>

      <div class="columns is-centered">
        <div class="column is-10">
          <h3 class="subtitle has-text-centered">Every chapter has been carefully crafted to explore and master a particular area of 	Node.js professional development.</h3>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-8">

          <ol>
            <li>
              <h3 class="title is-4">The Node.js Platform</h3>
              <p>Learn about the Node.js philosophy, the reactor patterns and the differences between JavaScript on the browser and Node.js on the server.</p>
            </li>

            <li>
              <h3 class="title is-4">The Module System</h3>
              <p>Learn how to leverage the powerful Node.js module system and discover the main differences between CommonJS and ESM.</p>
            </li>

            <li>
              <h3 class="title is-4">Callbacks and Events</h3>
              <p>Discover the callback pattern, how it works and the conventions used in Node.js. Learn how to avoid pitfalls and when to take advantage of the observer pattern using Node.js built-in event emitter.</p>
            </li>

            <li>
              <h3 class="title is-4">Asynchronous Control Flow Patterns with Callbacks</h3>
              <p>Lean how to avoid callback hell and explore common asynchronous patterns such as sequential execution, sequential iteration, parallel execution and limited parallel execution.</p>
            </li>

            <li>
              <h3 class="title is-4">Asynchronous Control Flow Patterns with Promises and Async/Await</h3>
              <p>Find out how promises work and how to use them effectively to implement various asynchronous control flow patterns. Explore the modern async/await syntax, the main tool today for dealing with asynchronous code in Node.js</p>
            </li>

            <li>
              <h3 class="title is-4">Coding with Streams</h3>
              <p>Understand why streams are so important in Node.js. Learn how to use standard streams and how to create custom ones. Explore various streaming patterns and learn how to build powerful streaming pipelines.</p>
            </li>

            <li>
              <h3 class="title is-4">Creational Design Patterns</h3>
              <p>Learn about the most famous creational design patterns in Node.js: the Factory pattern, the Revealing Constructor pattern, the Builder pattern. Finally, explore the Singleton pattern and the Dependency Injection pattern.</p>
            </li>

            <li>
              <h3 class="title is-4">Structural Design Patterns</h3>
              <p>Discover how to implement and use the Proxy, the Decorator and the Adapter pattern in Node.js.</p>
            </li>

            <li>
              <h3 class="title is-4">Behavioural Design Patterns</h3>
              <p>Learn how to implement and leverage some of the most well known behavioural design patterns in the context of Node.js: the Strategy pattern, the State pattern, the Template pattern, the Iterator pattern, the Middleware pattern, and the Command pattern.</p>
              <p>
                <a href="#sample-chapter"><span class="tag is-primary">Free Chapter!</span></a></p>
            </li>

            <li>
              <h3 class="title is-4">Universal JavaScript</h3>
              <p>Explore the fundamentals of JavaScript cross-platform developments and how to share code between the browser and Node.js. Learn React.js and how to build a complete universal JavaScript application.</p>
            </li>

            <li>
              <h3 class="title is-4">Advanced Recipes</h3>
              <p>Learn advanced recipes such as dealing with asynchronously initialized components, performing asynchronous request batching and caching, canceling asynchronous operations and running CPU-bound tasks.</p>
            </li>

            <li>
              <h3 class="title is-4">Scalability and Architectural Patterns</h3>
              <p>Master the art of Node.js scalability by learning about the "Scale Cube", discover how to run multiple instances of the same application and how to use load balancers and service registers. Learn how to use containers and containers orchestration platforms such as Kubernetes. Finally, find out how to design and build microservices architectures.</p>
            </li>

            <li>
              <h3 class="title is-4">Messaging and Integration Patterns</h3>
              <p>Discover the fundamentals of messaging systems and learn the Publish/Subscribe pattern. Master distribution patterns, messaging pipelines and the most common Request/Reply patterns.</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-green">
    <section id="authors" class="section bd-rd bg-white">
      <div class="container">
        <h2 class="title is-2 underline has-text-centered">
          <span>Meet the authors</span>
        </h2>

        <div class="columns is-centered">
          <div class="column is-10">
            <h3 class="subtitle has-text-centered">Meet Mario and Luciano, two passionate software engineers with a shared passion for Node.js and more than 15 years of collective experience on the field!</h3>
          </div>
        </div>

        <div class="columns">
          <div class="column is-half">
            <div class="columns">
              <div class="column is-one-third"></div>
              <div class="column is-two-third"><h3 class="title is-3">Mario Casciaro</h3></div>
            </div>
            <div class="columns">
              <div class="column is-one-third">
                {% responsiveImage './img/mario-casciaro.jpg', "Mario Casciaro's picture", {class: 'avatar', maxWidth: 300}  %}
              </div>
              <div class="column is-two-third">
                <p>Mario is a software engineer and entrepreneur who worked at IBM for a number of years. He currently splits his time between Var7 Technologies (his own software company) and its role as Lead Engineer at D4H Technologies where he creates software for emergency response teams.</p>
                <ul>
                  <li>
                    <a title="Visit Mario's blog" target="_blank" rel="me noopener" href="https://mario.fyi/">{% include "svg/comment-dots.svg" %} Blog</a>
                  </li>
                  <li>
                    <a title="Visit Mario's Twitter profile" target="_blank" rel="me noopener noreferrer" href="https://twitter.com/mariocasciaro">{% include "svg/twitter.svg" %} Twitter</a>
                  </li>
                  <li>
                    <a title="Visit Mario's GitHub profile" target="_blank" rel="me noopener noreferrer" href="https://github.com/mariocasciaro">{% include "svg/github-alt.svg" %} GitHub</a>
                  </li>
                  <li>
                    <a title="Visit Mario's LinkedIn profile" target="_blank" rel="me noopener noreferrer" href="https://www.linkedin.com/in/mariocasciaro/">{% include "svg/linkedin-alt.svg" %} LinkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="columns">
              <div class="column is-one-third"></div>
              <div class="column is-two-third"><h3 class="title is-3">Luciano Mammino</h3></div>
            </div>
            <div class="columns">
              <div class="column is-one-third">
                {% responsiveImage './img/luciano-mammino.jpg', "Luciano Mammino's picture", {class: 'avatar', maxWidth: 300}  %}
              </div>
              <div class="column is-two-third">
                <p>Luciano wrote his first line of code at the age of 12 on his father's old i386. Since then, he has never stopped coding. He is working at FabFitFun as Principal Software Engineer where he is building software to serve millions of users every day. He is an active speaker and in the last few years he has delivered more than 50 talks.</p>
                <ul>
                  <li>
                    <a title="Visit Luciano's blog" target="_blank" rel="me noopener" href="https://loige.co/">{% include "svg/comment-dots.svg" %} Blog</a>
                  </li>
                  <li>
                    <a title="Visit Luciano's Twitter profile" target="_blank" rel="me noopener noreferrer" href="https://twitter.com/loige">{% include "svg/twitter.svg" %} Twitter</a>
                  </li>
                  <li>
                    <a title="Visit Luciano's GitHub profile" target="_blank" rel="me noopener noreferrer" href="https://github.com/lmammino">{% include "svg/github-alt.svg" %} GitHub</a>
                  </li>
                  <li>
                    <a title="Visit Luciano's LinkedIn profile" target="_blank" rel="me noopener noreferrer" href="https://www.linkedin.com/in/lucianomammino/">{% include "svg/linkedin-alt.svg" %} LinkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section id="buy" class="section bg-green bd-lt-rd">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half">
            <h2 class="title is-2 has-text-centered">Buy Node.js Design Patterns third edition</h2>
            <h3 class="subtitle is-4 has-text-centered">Node.js Design Patterns third edition is available in Print and Kindle editions</h3>
            <p class="buttons is-centered">
              <a class="button is-primary" href="https://nodejsdp.link/buy">Buy Print edition</a>
              <a class="button" href="https://nodejsdp.link/buy-kindle">Buy Kindle edition</a>
            </p>
          </div>
          <div class="column is-half">
            {% responsiveImage './img/node-js-design-patterns-print-ebook-kindle.png', "Mario Casciaro's picture", {maxWidth: 600}  %}
          </div>
        </div>
      </div>
    </section>

    <div class="bg-green">
      <section id="faq" class="section bd-lt bg-white">
        <div class="container">
          <h2 class="title is-2 underline has-text-centered">
            <span>FAQs</span>
          </h2>

          <dl class="faq">
            {% for faq in faqs %}
              <dt>
                <button aria-expanded="true" aria-controls="{{ faq.id }}">
                  <h3 class="subtitle is-4"> {{ faq.question }}</h3>
                </button>
              </dt>
              <dd>
                <div id="{{ faq.id }}" class="desc">
                  <p class="is-size-7 has-text-right mb-1"><a href="#{{ faq.id }}">{{ '&para;' | safe }}</a></p>
                  {{ faq.answer | markdown | safe }}
                </div>
              </dd>
            {% endfor %}
          </dl>

        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <p class="is-size-7">Copyright © 2014-{% currentYear %} Mario Casciaro, Luciano Mammino, Packt Publishing.</p>
      <p class="is-size-7">All trademarks and registered trademarks are the property of their respective owners.</p>
      <p class="is-size-7 mt-1">Icons <strong>Unicons</strong> by <a href="https://iconscout.com" rel="nofollow noreferer">Iconscout</a></p>
      <hr/>
      <p class="mt-2">Found an error or something that can be improved? You can contribute to this website on <a href="https://github.com/nodejs-design-patterns-book/nodejsdesignpatterns.com">GitHub</a>!</p>
    </div>
  </footer>