---
layout: layout.njk
title: Node.js Design Patterns Third Edition by Mario Casciaro and Luciano Mammino
---

<nav>
    <ul>
        <li><a href="#contents">Contents</a></li>
        <li><a href="#sample">Sample</a></li>
        <li><a href="#praises">Praises</a></li>
        <li><a href="#authors">Authors</a></li>
        <li><a href="#buy">Buy</a></li>
    </ul>
</nav>

<main>
  <section class="hero">
    <h1>Take your Node.js knowledge to the next level</h1>
    <h2>Design and implement production-grade Node.js applications using proven patterns and techniques</h2>
  </section>

  <section class="credibility">
    XYZ Copies sold World wide (or "trusted by XYZ developers worldwide")
Translated in X languages
Rated X.Y on Amazon
Perfected through 3 editions

  </section>
</main>