@charset "utf-8";

// palette
$black: #323232;
$blackD1: darken($black, 10%);
$blackD2: darken($black, 20%);
$blackD3: darken($black, 30%);
$blackL1: lighten($black, 10%);
$blackL2: lighten($black, 20%);
$blackL3: lighten($black, 30%);
$orange: #da8f4c;
$orangeD1: darken($orange, 10%);
$orangeD2: darken($orange, 20%);
$orangeD3: darken($orange, 30%);
$orangeL1: lighten($orange, 10%);
$orangeL2: lighten($orange, 20%);
$orangeL3: lighten($orange, 30%);
$green: #b9eec5;
$greenD1: darken($green, 10%);
$greenD2: darken($green, 20%);
$greenD3: darken($green, 30%);
$greenD4: darken($green, 40%);
$greenL1: lighten($green, 10%);
$greenL2: lighten($green, 20%);
$greenL3: lighten($green, 30%);
$gray: #e5e5e5;
$grayD1: darken($gray, 10%);
$grayD2: darken($gray, 20%);
$grayD3: darken($gray, 30%);
$grayL1: lighten($gray, 10%);
$grayL2: lighten($gray, 20%);
$grayL3: lighten($gray, 30%);
$white: #ffffff;
$whiteD1: darken($white, 10%);
$whiteD2: darken($white, 20%);
$whiteD3: darken($white, 30%);
$whiteL1: lighten($white, 10%);
$whiteL2: lighten($white, 20%);
$whiteL3: lighten($white, 30%);

@import "./fonts.scss";

$family-serif: 'Playfair Display', serif;
$family-sans-serif: 'Open Sans', sans-serif;

@import "./bulma-custom.scss";

html {
  scroll-behavior: smooth;
}

@media(prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  #faq p.desc {
    transition: none;
  }
}

.svg-icon svg {
  width: 3rem;
}

.svg-icon svg {
  fill: $orange;
}

.title {
  font-family: $family-serif;
}

.title.underline span {
  background-size: 2px 1em;
  box-shadow: inset 0 -0.175em #b9eec5, inset 0 -0.2em #b9eec5;
  display: inline;
  box-shadow: inset 0 -0.175em #b9eec5, inset 0 -0.2em #b9eec5;
}

.title.underline-bright span {
  background-size: 2px 1em;
  box-shadow: inset 0 -0.175em #f2fff5, inset 0 -0.2em #f2fff5;
  display: inline;
  box-shadow: inset 0 -0.175em #f2fff5, inset 0 -0.2em #f2fff5;
}

.container {
  color: $blackL1;
}

.quote::before {
  display: inline-block;
  content: '"';
  font-size: 3rem;
  line-height: 100%;
  font-family: "Coustard", serif;
  position: relative;
  bottom: -.75rem;
  margin-right: .25rem;
  color: $orange;
}

p,
h1,
h2,
h3,
h4,
div {
  line-height: 1.5rem;
  ;
}

img.avatar {
  border: 4px solid $green;
}

nav a.navbar-item {
  color: $blackL2;
  font-weight: bold;
}

.bg-green {
  background-color: $green;
}

.bg-white {
  background-color: $white;
}

.subtitle {
  color: $blackL2;
}

.pos-rel {
  position: relative;
}

.chapter9 {
  transform: rotate(-10deg) translateY(30px);
  margin-bottom: -20px !important;
}

@media screen and (min-width: 769px) {
  .chapter9 {
    transform: rotate(-10deg) translate(30px, -30px);
    margin: 0 auto;
  }
}

nav.navbar {
  z-index: 99999 !important;
}

#hero {
  h1 {
    line-height: 2.75rem;
    font-size: 2.5rem;
  }

  h2 {
    line-height: 2rem;
    font-size: 1.2rem;
  }

  .buttons {
    margin: 1.5rem 0 0 0;

    .button {
      height: 3rem;
    }
  }

  .book-cover {
    transform: translateX(-60px);
  }
}

#key-characteristics {
  padding: 4.5rem;
}

#the-problem {
  padding: 4.5rem;

  p {
    margin: 1.5rem 0 0 0;
  }

  .buttons {
    margin: 1.5rem 0 0 0;

    .button {
      height: 3rem;
    }
  }
}

#alternative-solution {
  section {
    padding: 4.5rem;
  }

  h2 {
    margin: 0 0 2rem 0;
  }

  picture {
    display: block;
    margin: 1.5rem 0 0 0;
  }

  img {
    border-radius: 20px;
  }

  p {
    margin: 1.5rem 0 0 0;
  }

  .buttons {
    margin: 1.5rem 0 0 0;

    .button {
      height: 3rem;
    }
  }
}

#complete-description {
  padding: 0 4.5rem 4.5rem 4.5rem;

  h2 {
    font-size: 2rem;
    margin: 0 0 3rem 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0 0 3rem 0;
  }

  ul li {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
  }

  ol li:first-child h3 {
    padding: 0;
  }

  div.container.bg-green {
    background-image: linear-gradient(to right bottom, #b9eec5, #b1e8be, #aae1b6, #a2dbaf, #9bd5a8);
  }
}

#benefits {
  section {
    padding: 4.5rem;
  }
}

#authors {

  section {
    padding: 4.5rem;
  }

  h2 {
    line-height: 3rem;
    margin: 0;
    padding: 0;
  }

  h3.subtitle {
    line-height: 3rem;
    font-size: 1.5rem;
    padding: 3rem 0 0 0;
  }

  h3.title {
    margin: 3rem 0 1.5rem 0;
    padding: 0;
    line-height: 3rem;
    text-align: left;
  }

  p {
    line-height: 1.5rem;
  }

  .column {
    padding-top: 0;
    padding-bottom: 0;
  }

  .avatar {
    border-radius: 50%;
    margin-bottom: 1.5rem !important;
  }

  ul {
    margin: 1.5rem 0 1.5rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1rem;

    li a {
      color: $orange;
      fill: $orangeD3;
      vertical-align: baseline;
      font-weight: bold;

      &:hover {
        color: $orangeD3;
        fill: $black;
      }
    }
  }
}

#reviews {
  section {
    padding: 4.5rem;
  }

  h2 {
    margin: 0 0 3rem 0;
    padding: 0;
    line-height: 3rem;
  }

  .column {
    padding: 1.5rem 1rem;
  }
}

#who-is-it-for {
  padding: 4.5rem;

  ul li {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
  }

  div.container.bg-green {
    background-image: linear-gradient(to right bottom, #b9eec5, #b1e8be, #aae1b6, #a2dbaf, #9bd5a8);
  }

  .container p {
    font-size: 1.25rem;
    margin: 2rem 0 0 0;
  }
}

#final-cta {
  section {
    padding: 4.5rem;
  }
}

#amazon-reviews {
  section {
    padding: 4.5rem;
  }
}

#faq {
  section {
    padding: 4.5rem;
  }

  dt {
    padding-top: 1em
  }

  button {
    border: none;
    text-align: left;
    background: transparent;
    width: 100%;
    cursor: pointer;
    position: relative;


    &:active {
      border: none;
    }

    &:focus {
      border: none;
      outline: 0;
    }

    h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 1.5rem 0 0 0;
      text-align: left;
      font-weight: bold;
      padding-left: 2em;
    }

    &[aria-expanded=false] h3::before {
      content: "+ ";
      font-weight: bold;
      color: $greenD3;
      display: inline-block;
      position: absolute;
      left: 0;
    }

    &[aria-expanded=true] h3::before {
      content: "- ";
      font-weight: bold;
      color: $greenD3;
      display: inline-block;
      position: absolute;
      left: 0;
    }
  }

  div.desc {
    padding: 1.5rem 0 1.5rem 3.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    transition: all 0.1s linear;

    ul {
      list-style: disc;
      padding: 1.5em 0 1.5em 3em;
    }
  }

  dd {
    border-bottom: 1px solid $green;
    margin: 0 0;
  }
}

#sample-chapter {
  padding: 4.5rem;

  h2,
  h3 {
    line-height: 3rem;
    margin: 0;
  }

  p {
    margin-top: 1.5rem;
  }

  .buttons {
    .button {
      height: 3rem;
    }
  }
}

#book-abstract {
  .column {
    padding: 0 0.75rem;
  }

  h2 {
    margin: 0;
    padding: 1.5rem 0 1.5rem 0;
    line-height: 3rem;
  }

  h3 {
    line-height: 3rem;
    font-size: 1.8rem;
  }

  p {
    margin: 1.5rem 0 0 0;
  }

  .buttons {
    margin: 1.5rem 0 0 0;

    .button {
      height: 3rem;
    }
  }
}

@counter-style chapter {
  system: extends decimal;
  prefix: "Chapter ";
}

#chapters {

  h2,
  h3 {
    margin: 0;
    padding: 0;
    line-height: 2rem;
  }

  h3 {
    padding: 3rem 0 0 0;
  }

  h4 {
    margin: 3rem 0 1.5rem 0;
    line-height: 1.5rem;
    font-size: 1.3rem;
  }

  .columns {
    margin: 0 0 0 0;

    .column {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: 769px) {
    ol {
      list-style: chapter;
    }
  }
}

#book-chapters {
  h2 {
    margin: 0 0 1.5rem 0;
  }

  h3.subtitle {
    line-height: 3rem;
    font-size: 1.8rem;
  }


  ol {
    list-style-type: decimal-leading-zero;
    padding-left: 3.8rem;
    font-family: $family-serif;
    color: $greenD3;
    font-size: 1.5rem;
    margin-bottom: 3rem;

    li {
      margin: 0;
      padding: 0;
    }

    h3 {
      margin: 1.5rem 0 1.5rem 0;
      padding: 0;
      line-height: 1.5rem;
      font-size: 1.5rem;
    }

    p {
      line-height: 1.5rem;
      font-family: $family-sans-serif;
      font-size: 1rem;
      color: $black;
      padding: 0 0 1.5em 0;
      margin: 0;
    }
  }
}

#buy {
  h2 {
    line-height: 3rem;
    margin: 0 0 3rem 0;
    padding: 0;
  }

  h3 {
    line-height: 3rem;
    margin: 0 0 3rem 0;
    padding: 0;
  }

  .buttons {
    margin: 0 0 3rem 0;
  }

  .buttons .button {
    height: 3rem;
    line-height: 3rem;
  }
}

#page404 {
  background: $green;

  .content {
    padding: 3em;
    border-radius: 20px;
    background: $white;
  }

  img {
    border-radius: 20px;
  }
}

.is-green {
  color: $greenD4;
}

.bd-lt {
  border-radius: 6rem 0 0 0;
}

.bd-rt {
  border-radius: 0 6rem 0 0;
}

.bd-rd {
  border-radius: 0 0 6rem 0;
}

.bd-ld {
  border-radius: 0 0 0 6rem;
}

.bd-lt-rd {
  border-radius: 6rem 0 6rem 0;
}

.bd-all-small {
  border-radius: 3rem;
}

.article {
  article {

    h2,
    h3,
    h4 {
      margin-top: 1.25em;

      code {
        font-size: inherit;
        padding: inherit;
        background: none;
        color: inherit;
      }
    }

    p {
      margin-top: .75em;
    }

    p:first-child {
      margin-top: 0;
      font-size: 1.25em;
      line-height: 1.50em;
    }

    .author-info {
      padding: 0 0 1em 0;
      margin: 0 0 1em 0;
      border-bottom: 1px solid #eee;

      p {
        color: #616161;
        display: flex;
        align-items: center;
        font-size: 1em;
      }

      a {
        display: flex;
        align-items: center;
        margin: 0 .75em 0 0;
      }

      img {
        width: 2em;
        border-radius: 50%;
        margin: 0 .75em;
      }

      svg {
        margin: 0 .75em 0 0;
      }
    }
  }

  aside {
    .wrapper-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 80px;
    }

    .aside-ad-block {
      .book {
        transform: translateX(-1em);
      }

      a {
        background: $green;
        padding: 1em;
        border-radius: 1em;
        margin: 0 0 2em 0;
        color: $black;
        display: block;
        border: 3px solid transparent;
      }

      a:hover {
        border: 3px solid $greenD4;
      }

      h5 {
        font-weight: bold;
        font-size: .8em;
        padding: 0 0 .2em 0;
      }

      p {
        font-size: .8em;
      }
    }

    h3 {
      margin-bottom: 1em;
    }

    .toc {
      margin: 0 0 2em 0;

      ol {
        padding: 0 0 0 2em;
        list-style: decimal-leading-zero;
      }
    }
  }
}

.blog {
  .article-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .article {
      width: 100%;
      max-width: 800px;

      a {
        border-radius: 6px;
        color: $black;
        display: block;
        font-size: 1.25rem;
        padding: 3rem 1.5rem 1.5rem 1.5rem;
        position: relative;
        transition-duration: 86ms;
        transition-property: background-color, color;
      }

      a:hover {
        color: $blackD3;
        background-color: $greenL1;
      }

      .date {
        position: absolute;
        left: 1.5em;
        top: 1em;
        text-align: center;
        min-width: 1em;
        font-size: .75em;
        color: $primary;
      }

      .article-title {
        color: $black;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0 0 .5em 0;
      }

      .description {
        color: $blackL1;
        font-size: .75em;
      }
    }
  }

  .resources {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em 0 3em 0;

    .resource {
      width: 33%;
      min-width: 300px;
      margin: 0 0 2em 0;

      a {
        display: block;
        border-radius: 6px;
        padding: 1em 0;

        &:hover {
          color: $black;
          background-color: $orangeL2;

          h4 {
            color: $black;
          }
        }
      }

      figure {
        text-align: center;
        padding: 1em 0;

        span.icon {
          width: 2.5em;
        }

        svg {
          font-size: 2em;
          height: 48px;
        }
      }

      h4 {
        text-align: center;
        color: $primary;
        font-weight: bold;
        font-size: 1.5em;
      }

      p {
        padding: 1em;
        text-align: center;
        color: $black;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .blog .article-list .article {
    .date {
      left: 1em;
      top: 1.5em;
    }

    a {
      padding: 1.5rem 1.5rem 1.5rem 8rem;
    }
  }
}

.hhh {
  background-color: #fff;
  background-size: 100% 1.5em;
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .05em, transparent .05em);
}